<div class="add-form">
    <div class="form">
      <%= simple_form_for item do |f| %>
      <%= f.input :name %>
      <%= f.input :category, collection: ["All", "Household", "Electronics", "Appliances", "Clothing", "Tools", "Instruments", "Wheels", "Other"]   %>
      <%= f.input :notes %>
      <%= f.input :status, collection: Item::STATUSES %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
      <% end %>
  </div>
</div>
